/* Place all the styles related to the users controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: https://sass-lang.com/ */

.signupzentai{
    height: 717px;
    position: relative;
    padding-top: 250px;
    text-align:center;
    color: white;
    background-color: black;
    color: white;
}

.signupzentai a{
    color: white;
}

.akaunntohave{
    position: relative;
    padding-top: 150px;
    text-align:center;
    background-color: black;
    height: 720px;
}

.akaunntohave a{
    color: red;
}


.akaunntohave h2{
    font-size: 40px;
}

.signupzentai h2{
    font-size:40px;
    margin-bottom: 40px;
}

.field{
    font-size:20px;
    margin-top:10px;
}

.large-button{
    font-size:15px;
    padding: 10px 24px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    border-color: white;
}

.large-button2{
    font-size:15px;
    padding: 10px 24px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}

input#user_name{
    border-color: white;
}

input#user_password_confirmation{
    border-color: white;
}

input#user_password{
    border-color: white;
}

input#user_email{
    border-color: white;
}

.sign_up_field1{

}

